<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.dao.SkillMapper" >
  <resultMap id="BaseResultMap" type="com.website.po.Skill" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="skill_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, skill_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from skill
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectNameByPrimaryKey" resultType="java.lang.String" parameterType="java.lang.Long">
    select skill_name
    from skill
    where where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectNameByPrimaryKeys" resultType="java.lang.String" parameterType="java.lang.Long">
      select skill_name
      from skill
      where id in
      <foreach item="item" index="index" collection="list"
               open="(" separator="," close=")">
        #{item, jdbcType=BIGINT}
      </foreach>
  </select>

    <select id="selectCountByPrimaryKeys" resultType="java.lang.Long" parameterType="java.lang.Long">
        select count(*)
        from skill
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from skill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.website.po.Skill" >
    insert into skill (id, skill_name)
    values (#{id,jdbcType=BIGINT}, #{skillName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.website.po.Skill" >
    insert into skill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skillName != null" >
        skill_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skillName != null" >
        #{skillName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.po.Skill" >
    update skill
    <set >
      <if test="skillName != null" >
        skill_name = #{skillName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.po.Skill" >
    update skill
    set skill_name = #{skillName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>