<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.museumofart.dao.ProjectDao">
	<!-- <select id="findByUsername" parameterType="string" resultType="Project"> 
		SELECT * FROM userinfo WHERE username=#{username} </select> -->

	<insert id="addProject" parameterType="Project">
		insert into
		project(id, business_id, project_name,
		project_description,is_varied,budget,tender_period,expected_time,finish_time,gmt_create,gmt_modified)
		values(#{id}, #{businessId}, #{projectName}, #{projectDescription},
		#{isVarified}, #{budget},
		#{tenderPeriod},#{expectedTime},#{finishTime},#{gmtCreate},#{gmtModified})
	</insert>
</mapper>